<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <h1>HI</h1>
    <form action="/taoQTV" method="POST" enctype="application/x-www-form-urlencoded">
        <p>
            <input type="text" name="emailQTV" placeholder="id" />
        </p>
        <p>
            <input type="text" name="passQTV" placeholder="pass" />
        </p>
        <p>
            <button type="submit">Create</button>
        </p>
    </form>
</body>

</html>